/*
    Auteur: Michal Kolasa
    Aanmaakdatum: 17/03/2023 13:50

    Omschrijving: De algemene stylesheet voor de website
*/
body
{
    margin: 0;
}
@font-face
{
    src: url("../fonts/Montseratt.ttf");
    font-family: "montseratt";
}
*
{
    font-family: montseratt;
}
#navbar-right
{
    display: flex;
    align-items: center;
}
#navbar-right ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-align: center;
}
#navbar-right li
{
    display: block;
    text-align: center;
}
#navbar-right a
{
    padding: 2vh;
    text-decoration: none;
    color: #222226;
}
#navbar-right a:hover
{
    color: #bea189;
    text-decoration: underline;
}

nav
{
    display: flex;
    justify-content: space-around;
    height: 10vh;
    background-color: #fff;
}
nav img
{
    height: 10vh;
}
