/*
    Auteur: Michal Kolasa
    Aanmaakdatum: 17/03/2023 13:50

    Omschrijving: De algemene stylesheet voor de website
*/

body {
	margin: 0;
}
@font-face {
	src: url("../fonts/Montseratt.ttf");
	font-family: "montseratt";
}
* {
	font-family: montseratt;
}

#navbar-right {
	display: flex;
	align-items: center;
}
nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	text-align: center;
}
#navbar-right li {
	display: block;
	text-align: center;
}
#navbar-right a {
	padding: 1.5vh 1.5vw;
	text-decoration: none;
	color: #222226;
}
#navbar-right a:hover {
	color: #bea189;
	text-decoration: underline;
}

/* Footer styling */
footer {
	background-color: #004e78;
	color: #fff;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 35%;
	font-family: montseratt;
}

#divider {
	height: 230px;
	border: 1px solid #e5e5e7;
	border-color: rgba(255, 255, 255, 0.1);
	margin-top: 3%;
	display: inline-block;
}

#leftFooter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	text-align: left;
}

#leftFooter hr {
	border: 1px solid #e5e5e7;
	border-color: rgba(255, 255, 255, 0.1);
	width: 50%;
}

#rightFooter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	padding-left: 3%;
}

#footerH3 {
	font-size: 18px;
	font-family: montseratt;
	font-weight: inherit;
}

#rightFooter a {
	font-size: 14px;
	font-family: montseratt;
}
/*footer*/
@media screen and (max-width: 960px) {
	footer {
		flex-direction: column;
		height: 50%;
	}
	#leftFooter hr {
		width: 70%;
	}
	#leftfooter {
		width: 100%;
	}
	#divider {
		height: 0%;
	}

	#leftFooter img {
		margin-top: 3%;
	}
	#rightFooter {
		width: 100%;
		text-align: center;
	}
}

#dropdown {
	display: none;
	left: 0;
	position: absolute;
}
#dropdown img {
	height: 6vh;
}
#dropdownContent {
	display: none;
	background-color: white;
	width: 50vw;
}
#dropdownContent a {
	text-decoration: none;
	font-size: 15px;
	color: #222226;
}
#dropdown:hover #dropdownContent {
	display: block;
}
nav {
	display: flex;
	justify-content: space-around;
	height: 10vh;
	background-color: #fff;
	min-height: 50px;
}
#navbar-left {
	display: flex;
	flex-direction: row;
}
nav img {
	height: 10vh;
	align-items: center;
}
/*scherm kleiner dan 1335px kleiner lettertype en padding*/
@media screen and (max-width: 1335px) {
	#navbar-right a {
		padding: 0.5vh 0.5vw;
		font-size: 14px;
	}
}
/* kleiner dan 1050px dropdown aanmaken*/
@media screen and (max-width: 1050px) {
	#navbar-right {
		display: none;
	}
	#dropdown {
		display: block;
	}
	#logo {
		right: 0;
		position: absolute;
	}
}
@media screen and (max-height: 550px) {
	nav img
	{
		min-height: 50px;
	}

}
