/*
    Auteur: Jesse Copier
    Aanmaakdatum: 22/03/2023 14:45

    Omschrijving: Stylesheet voor de pagina met de zelftest
*/
/* Banner op de zelftest pagina krijgt een background-image en positions */
#zelftestBanner
{
    display: flex;
    height: 60vh;
    width: 100vw;
    background-image: url("../images/zelftest-achtergrond.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: left;
    align-items: center;
}
/* Article in de zelftestbanner krijgt grootte en tekstkleur */
#zelftestBanner article
{
    margin-left: 10vw;
    width: 30vw;
    color: #6C6D74;
}
/* Tekstgrootte aanpassen */
.headerP
{
    font-size: 15px;
}
h2
{
    font-size: 20px;
}
h1
{
    font-size: 36px;
}
/* Kleur titels */
h2, h1
{
    color: #222226;
}
/* Main krijgt achtergrondkleur en display flex */
main
{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: #f0ecf9;
}
/* Divider met vraag en radiobuttons krijgen achtergrondkleur, grootte, positie */
.questionContainer
{
    width: 60vw;
    background-color: white;
    margin: 0;
    padding: 50px 20px 50px 20px;
    margin-bottom: 25px;
    border-radius: 25px;
}
/* Titel van de vraag wordt gecentreerd */
h3
{
    text-align: center;
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
}
/* Submitbutton stylen */
input[type="submit"]
{
    width: 120px;
    height: 50px;
    margin-bottom: 25px;
    border: none;
    border-radius: 25px;
    background-color: #bea189;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover
{
    background-color: #ead0b0;
}

/* Responsive maken */
@media screen and (max-width: 1335px)
{
    #zelftestBanner article
    {
        width: 80vw;
    }
    .headerP
    {
        color: black;
    }
}